@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

h2 {
    display: flex;
    text-align: center;
    align-items: center;
    color: #365262;
    font-size: 50px;
    font-weight: 500;
    padding: auto;
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.menu {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    list-style: none;
    box-sizing: border-box;
}

.menu,
a {
    text-decoration: none;
    font-size: sans-serif;
    color: #5757a0;
    display: inline-block;
    padding: 10px 20px;
    background-color: #7dc3eb;
    font-weight: bold;
}

.menu li {
    display: inline;
    margin: 0 5px;
}